body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}
.header{
    opacity: 1;
    cursor: pointer;
    background-color: #7971ea;
    border: 5px #443ea0;
    padding: 30px;
    color: white;
    font-size: 7vw;
    text-align: center;
}

.header, .footer{
    flex-basis: 100%;
}

.hero {
    text-align: center;
    padding: 10px 0;
    background-color: #444;
    color: #fff;
}
.footer{
    background-color: #7971ea;
    text-align: center;
    padding: 15px;
    color: rgb(255, 255, 255);
}

body{
    display: flex;
    flex-wrap: wrap;
}

.Proposition{
    display: flex;
    flex-wrap: wrap;
}


.boxitem{
    opacity: 1;
    cursor: pointer;
    background-color: #4e2280;
    color: white;
    margin: 1%;
    font-size: 22px;
    flex-basis: 31%;
    text-align: center;
}

.boxitem2{
    opacity: 1;
    cursor: pointer;
    background-color: #4e2280;
    color: white;
    margin: 1%;
    font-size: 22px;
    flex-basis: 21%;
    text-align: center;
}

.boxitem3{
    opacity: 1;
    cursor: pointer;
    background-color: #4e2280;
    color: white;
    margin: 1%;
    font-size: 22px;
    flex-basis: 8%;
    text-align: center;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.boxitem4{
    opacity: 1;
    cursor: pointer;
    background-color: #7971ea;
    color: white;
    margin: 1%;

    flex-basis: 100%;
    text-align: center;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

.btn {
    display: inline-block;
    background-color: #00d9ff;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.5s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

.color-button {

    width: 40px;
    height: 20px;
    flex-basis: 100%;
}

.btn_partie {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.5s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red{
    background-color: red;
}

.yellow{
    background-color : yellow
}

.green{
    background-color:green;
}

.blue{
    background-color: blue;
}

.orange{
    background-color: orange;
}

.brown{
    background-color: brown;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}


.Rond {
    width: 32px; /* Vous pouvez ajuster la taille en fonction de vos besoins */
    height: 32px; /* Assurez-vous que width et height sont égaux pour obtenir un cercle */
    border-radius: 50%; /* Cette propriété crée un bord arrondi équivalent à un cercle */
    background-color: grey;
}

.PetitRond {
    width: 16px; /* Vous pouvez ajuster la taille en fonction de vos besoins */
    height: 16px; /* Assurez-vous que width et height sont égaux pour obtenir un cercle */
    border-radius: 50%; /* Cette propriété crée un bord arrondi équivalent à un cercle */
    background-color: grey;
  }